/* Professor Page Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 56rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.header {
    width: 100%;
    background: linear-gradient(to top right, #6b21a8, #9333ea);
    padding: 1.5rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.back-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.back-button svg {
    width: 1.6rem;
    height: auto;
    margin-right: 0.5rem;
}

.content {
    padding: 1.5rem;
}

.description {
    margin-bottom: 1.5rem;
    color: #4b5563;
}

.professor-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .professor-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .back-button svg {
        width: 1rem;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .professor-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        min-width: 56rem;
    }

}

.professor-card {
    display: block;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.2s;
}

.professor-card:hover {
    background-color: #f9fafb;
}

.professor-name {
    font-weight: 500;
    color: #2563eb;
}

.no-results {
    grid-column: 1 / -1;
    text-align: center;
    padding: 1rem 0;
    color: #6b7280;
}

.error-message {
    grid-column: 1 / -1;
    color: #ef4444;
}
